[2022-05-27 10:09] FluffiestPrincess commented on #1218
Closing this since it's been rejected; contact me on Discord if you have a compelling case for re-opening it.

[2022-05-27 10:09] #1218 closed, assigned to nobody

[2022-05-27 10:11] FluffiestPrincess commented on #1207
I strongly suspect that this would be an obscene amount of work, but will wait for Cobbs to comment.

[2022-05-27 10:16] captaincobbs commented on #1207
This is a @wakystuf problem

[2022-05-27 10:31] FluffiestPrincess commented on #1220
I hate to be the bearer of bad news, but you accidentally created your new branch based on Main (i.e. 1.5) not [Development-1-5-1](https://github.com/wakystuf/ESG-Mod/tree/Development-1-5-1) (i.e. 1.6, the branch we're actually working on). You're going to need to sort this out before merging, because currently there are conflicts.

[2022-05-27 10:50] captaincobbs commented on #1219
I don't see a need to expand the tooltip, you know what it's always going to do even if the tooltip is mildly lying. Giving more detail in this case would, in my opinion, not be more helpful.

[2022-05-27 10:50] #1219 closed, assigned to nobody

[2022-05-27 10:58] FluffiestPrincess commented on #932
Is this actually finished? If so, please close it to declutter the issues list.

[2022-05-27 11:07] captaincobbs commented on #932
Nope!

[2022-05-27 12:20] FluffiestPrincess commented on #1192
From the discussions on the pull request, this is probably done, but I'm going to let someone else actually click the close button.

[2022-05-27 12:38] Tat011 commented on #1220
which one is that? i dont see any 1,6

[2022-05-27 12:40] FluffiestPrincess commented on #1220
[Development-1-5-1](https://github.com/wakystuf/ESG-Mod/tree/Development-1-5-1) is 1.6. If you wish to complain about the name then please do so, just not at me.

[2022-05-27 12:41] Tat011 commented on #1220
reeeeeeeeeeeeeeee fix your name ya dinguses!!

[2022-05-27 12:56] Tat011 commented on #1220
done, you can delete the old branch now (and also the one with my name i made accidentaly)

[2022-05-27 15:17] wakystuf commented on #1207
Yeah, this is almost impossible. The reason it's possible at all is due to my pre-existing galaxy gen code, but still a huge pain.

[2022-05-27 15:18] wakystuf commented on #1220
Isn't there still a bunch of stuff in here that's inconsistent with what we previously discussed https://github.com/wakystuf/ESG-Mod/issues/1071? Maybe I'm missing something

[2022-05-27 22:10] FluffiestPrincess commented on #868
The good news is that I can make Strategic Slots add to the TotalStrategic<n>Cost of the module in them.

The bad news is that:

1. I haven't yet worked out how to do it without creating an enormous number of new SimulationDescriptors, one for every possible strategic slot cost.
2. Increasing the TotalStrategic<n>Cost of the module doesn't seem to affect the ship's sell price at all.

[2022-05-28 01:02] Tat011 commented on #1198
I guess ill do this one since no one seems to be interested

[2022-05-28 11:52] Arpharnator commented on #1216
can you elaborate what ships and efficiency is?

[2022-05-28 14:01] wakystuf commented on #1216
It's just dust vs lux freighters. That's actually how the game displayed it in the GUI automatically; I didn't force that tooltip

[2022-05-28 15:12] Tat011 commented on #1198
were is this stored? i cant find it

[2022-05-28 16:20] FluffiestPrincess opened #1228 "Standardise costs for module slots"
The various ship modules aren't entirely standardised. Everything that has "IsLargeSlot" should also have ModuleCostMultiplier 2, a Cost of 2 (if it has a cost), and the LargeWeapon ModuleModifier.

[2022-05-28 19:48] FluffiestPrincess commented on #868
It's time for Good News - Bad News again!

The good news is that I solved problem 1!

The bad news is that I don't know if I can be arsed applying a new SimDesc to 268 separate XML elements, so this is going to have to wait until either I'm really bored or I decide to write a script to do it.

[2022-05-29 22:09] captaincobbs commented on #1091
Behemoth Weaponization
~~Fleet Repair Module~~ (100% Repair after Battle, +25% Repair each Phase, +50% Movement back after Battle cannot stack)
Cost: 250 Industry, 2 Hyperium
Ship Cost Reduction on Orbited System Module (10% reduction, cannot stack on system)
Cost: 250 Industry, 5 Titanium 5 Hyperium
~~Fleetwide Shrapnel Module~~ (100% crew damage, 50% boarding pod damage, cannot stack)
Cost: 250

[2022-05-29 22:24] stygmaskyzoo commented on #1091
are those strategics definitive?
making the ones with two colors is gonna be fun

[2022-05-29 22:26] captaincobbs commented on #1091
Yes, though they may be modified after this is finished due to balance reasons.

[2022-05-29 22:31] captaincobbs opened #1231 "Gameplay Affinity Population Bonus Filters"
Hissho do not get any benefit from population that provide approval
Nakalim do not get any benefit from population that provide science

Solution:
Go through Simulation/Traits/SimulationDescriptors[6_Happiness].xml and SimulationDescriptors[4_Science].xml

For Hissho:
Go through every approval modifier descriptor, copy and paste the contents so there are now two of the same thing in every simulati

[2022-05-29 22:32] captaincobbs commented on #1231
* Please note that BonusPopulationPrestigeNakalim does not exist yet, if you want to work on this, point me to your branch and I'll implement the structural code for you

[2022-05-29 22:45] FluffiestPrincess commented on #1207
Closed because rejected.

[2022-05-29 22:45] #1207 closed, assigned to nobody

[2022-05-29 23:00] stygmaskyzoo commented on #1091
updated most of the monocolored modules:
![module + behemoth + shrapnel + recolor](https://user-images.githubusercontent.com/73248181/170894473-dd3cf2ec-e895-48ba-9235-ea17b011e728.png)
![module + behemoth + accuracy + recolor](https://user-images.githubusercontent.com/73248181/170894475-1bb4234a-cd4a-4394-9ca1-be0e9043900a.png)
![module + behemoth + damage + recolor](https://user-images.githubuse

[2022-05-29 23:14] captaincobbs commented on #1091
Yes, the last two are the same with different strategics.

And you're right, oops, forgot defense %

Applied Cryogenics
Behemoth Lenser (25% Less Damage Taken on Ship, +20 Targeting Weight, cannot stack)
Cost: 160 Industry, 1 Antimatter

Split-second Ablatives
Behemoth Jammer (6 Movement Speed, -10 Targeting Weight, cannot stack)
Cost: 160 Industry, 1 Adamantian

[2022-05-29 23:39] stygmaskyzoo commented on #1091
![module + behemoth + emp + recolor](https://user-images.githubusercontent.com/73248181/170895848-8ea7ae96-d43b-4a70-9788-8ccfcb2a3e6f.png)
![module + behemoth + ship cost + recolor](https://user-images.githubusercontent.com/73248181/170895851-f3fda132-7c35-45c9-b48b-eb5191b2327c.png)
![module + action point + recolor](https://user-images.githubusercontent.com/73248181/170895853-62da0343-197c-4e48

[2022-05-30 03:05] NoProblemWithThisAcc commented on #1091
on low contrast/brightness monitors the peach and red don't exactly show up like they should. Can you make the red a bit deeper and the orange a bit lighter so it is more easily distinguishable? This normally isn't a problem for single color icons but players might not expect the new mashup.

[2022-05-30 22:53] #827 closed

[2022-05-30 22:54] #1083 closed, assigned to FluffiestPrincess

[2022-05-30 22:56] #1090 closed, assigned to FluffiestPrincess

[2022-05-30 22:57] #1114 closed, assigned to captaincobbs

[2022-05-30 22:59] #1208 closed, assigned to wakystuf

[2022-05-30 23:01] #1213 closed, assigned to wakystuf

[2022-05-30 23:02] #1214 closed, assigned to wakystuf

[2022-05-30 23:04] #1125 closed, assigned to Arpharnator

[2022-05-30 23:04] captaincobbs commented on #1157
Can you summarize the changes?

[2022-05-30 23:04] captaincobbs commented on #1169
Question, is collateral damage still unlockable?

[2022-05-30 23:05] #1182 closed, assigned to FluffiestPrincess

[2022-05-30 23:09] #1117 closed, assigned to captaincobbs

[2022-05-30 23:10] #1171 closed, assigned to wakystuf

[2022-05-30 23:11] #1196 closed, assigned to wakystuf

[2022-05-30 23:12] #1209 closed, assigned to wakystuf

[2022-05-30 23:16] wakystuf commented on #1157
Yes, it's simply the quest changes contained in the graphic I created

[2022-05-30 23:16] FluffiestPrincess commented on #1169
Nope.

On Tue, 31 May 2022 at 00:05, Captain Cobbs ***@***.***>
wrote:

[2022-05-30 23:16] captaincobbs commented on #1157
kk

[2022-05-30 23:19] #1157 closed, assigned to wakystuf

[2022-05-30 23:20] #1169 closed, assigned to FluffiestPrincess

[2022-05-31 11:06] stygmaskyzoo commented on #1091
i've sent them to cobbs but anyway, here they are:
![module + behemoth + lenser](https://user-images.githubusercontent.com/73248181/171159717-106744df-af30-4182-9e0e-198b57b9728b.png)
![module + action point + recolor](https://user-images.githubusercontent.com/73248181/171159720-b809cde6-db57-490d-9bae-3e50d1c9fc86.png)
![module + behemoth + blast + recolor](https://user-images.githubusercontent.c

[2022-05-31 11:22] Arpharnator commented on #1091
can't wait to muder people with these

[2022-06-01 02:24] wakystuf commented on #1173
I don't think the code seems to work (which is my fault--the changes made by @FluffiestPrincess actually resolved some issues).

Therefore, unless someone else wants to get it to work, how would people feel about making lock-on a) slightly larger #s (again), b) fleet-wide, instead of flotilla-wide, and c) capped to only benefit from 1 per fleet?

[2022-06-01 09:57] FluffiestPrincess commented on #1173
When you say "doesn't work", do you mean the modules aren't having any effect, or that they're having an effect but it's not capped?

[2022-06-01 13:47] wakystuf commented on #1173
Seems to have no effect. Feel free to test yourself in case I did something wrong, however

[2022-06-01 15:40] Thom293 opened #1236 "Integrate Better AI Empires Difficulty Changes."
First - Ive used Git before only to post bugs.  So if I do any of this wrong please let me know and I will correct.

Per request, will integrate the Better AI Empires Difficulty Changes.  This will apply only to AI Empires, and not Empires that are Player-controlled.

https://steamcommunity.com/sharedfiles/filedetails/?id=2602129157

Only the ones in the following files:

SimulationDescriptors[Gam

[2022-06-01 15:43] stygmaskyzoo commented on #1236
remember to work on development1-5-1 branch and not main!

[2022-06-01 16:49] Arpharnator commented on #1236
you're not gonna wanna fork, otherwise you can't merge

[2022-06-01 16:54] Arpharnator commented on #1236
also who requested this @captaincobbs

[2022-06-01 19:24] NoProblemWithThisAcc opened #1237 "Spicing Costs"
Gene Splicing needs to a regularly usable mechanic, like any other gameplay affinity. The current problem is that it's too powerful. Current attempts to balance it just made it less usable overall. I propose we move in the other direction: make the splice costs smaller as well as the splice benefits.

0) The point buy costs of all minors and majors should be changed. All minors population (citizen

[2022-06-01 19:30] Arpharnator commented on #1237
unplayable on smaller maps if that's the case
+ costs are only 2.5 atm compared to 2 vanilla and 4 before

[2022-06-01 19:33] NoProblemWithThisAcc commented on #1237
I agree that smaller maps make large pop splice cost are unplayable as ESG 1.6 stands currently despite thes change: "Horatio Splice cost reduced, from 3 + $(AssimilatedPopulationsCount) * 3 to Ceil(2.5 + $(AssimilatedPopulationsCount) * 2.5)."

You'll be glad to know that going from 2.5 atm down to 1 (but with the nerfed splice bonuses) would better approximate the power curve.

[2022-06-01 20:03] Arpharnator commented on #1237
First I was responding to your idea of reducing the slice cost while reducing the bonuses, and saying that it would make the affinity barely noticeable on smaller maps.

I think there has been some really significant discussion on this subject dating back to the era when it was first changed to 3, and clearly now isn't the time to change things.
While there has been some discontent with the usage

[2022-06-01 20:04] #1237 closed, assigned to NoProblemWithThisAcc

[2022-06-01 21:26] Provolonage commented on #1237
I like the idea but I hate the idea of splices giving conditionals. I'd rather just get +1 indy and +1 science from pulsos, ratio is always going to go full fertile temperate for the pop slots synergy with the collection bonus, all sterile splices will be ignored basically and most conditionals will be pretty bad. Also I think Gene Hunter is actually weak you can't splice more then 4 things right

[2022-06-02 01:42] wakystuf commented on #1173
I'm changing assignees here. @FluffiestPrincess if you get sick of this one, then feel free to let me know and I'll make it fleet-wide (that part I'm confident I can do fairly easily, and is far easier to directly observe in the Simulation viewer)

[2022-06-04 05:27] Thom293 commented on #1236
Changes uploaded.  Not quite sure how to do the pull request and dont want to mess anything up.  Will leave that up to yall.

Tested it in 3 normal speed games and 1 fast speed.  Seems to work.  UC won by wonder victory on turn 66 in the fast game.  All of the races were well balanced for my mod - but ESG makes additional changes.

So, maybe undertuned or overtuned.  I dont know ESG as well as yal

[2022-06-04 06:41] captaincobbs commented on #1236
Can you confirm that this all only affects AI factions?

[2022-06-04 06:57] Thom293 commented on #1236
Yes all changes are only AI.

[2022-06-04 18:30] Provolonage opened #1239 "Replace Rb's Signal with something else"
It's too much rng, if we want Rb to start with 4 pop jsut give them a 3rd Rb.

[2022-06-05 14:39] FluffiestPrincess commented on #1239
For clarification, are you talking about the predetermined "Signal" type anomaly that appears in the Riftborn starting system on Balanced Starts mode?

[2022-06-05 16:34] Tat011 opened #1242 "Make Kalmat give +2 industry and +1bandwith instead"
yes im doing this again and its cuz this happened to me last game which proves the issue i raised last time
![20220604190258_1](https://user-images.githubusercontent.com/99352011/172060524-e82f083e-6dd7-4ff3-8d70-01b1f2f95743.jpg)
As you can see i was receiving a huge ammount of bandwith due to the pop but it wasnt being used for anything since the empire above me was an ally and even if i hacked

[2022-06-05 17:41] NoProblemWithThisAcc commented on #1242
So I looked on my Population Point Buy Cost and Tier Splicing spreadsheet and it turns out that you are correct. Going down to 1 bandwidth and 2 industry would be an even trade. Note that Mavros and Xirmisala are actually worse at 3 effective FIDS rather than 4. Also UE Mezari, UE Imperials, Hissho, and notably Umbral Choir are also at only 3 effective FIDS. Bringing all pop to a minimum of 4 does

[2022-06-05 17:45] Tat011 commented on #1242
having more defensive programs is useless since i never got hacked by anyone other than uc (cuz as i said everyone was too far away) and uc never hacked my capital (cuz it was too far away even for uc)
and having just 1 industry and 1 band would make this pop straight up bad, its ok for uc for the same reason its ok for ue, its the mayor pop.

[2022-06-06 17:58] Arpharnator opened #1243 "Unfallen pop col vs anom max pop quest reward"

[2022-06-11 14:50] Tat011 opened #1246 "Make academy quest start sooner"
Its an interesting quest and a real shame we never see it. make it start around the mid game

[2022-06-11 17:01] wakystuf commented on #1243
What exactly is this issue? Is this something I said I would do? I can't remember

[2022-06-11 17:04] wakystuf commented on #1239
@FluffiestPrincess Yes, that's correct. I told @Provolonage that I'd do this one, so I'm assigning myself now

[2022-06-11 17:15] Provolonage commented on #1246
I'm 99% sure the quest start trigger is someone finding the academy because it happens on like turn 5 in most mp games.

[2022-06-11 17:18] Tat011 commented on #1246
i mean the one about resurrecting the lost

[2022-06-11 17:21] Provolonage commented on #1246
oh no clue sorry

[2022-06-11 18:29] NoProblemWithThisAcc commented on #1246
It is an awfully late game quest.

[2022-06-11 18:30] captaincobbs commented on #1246
From what I understand it triggers after everyone has finished the unique planet quest. But no, we can't, it's triggered by something from the C#.

[2022-06-12 02:41] captaincobbs commented on #1246
I believe I'm right, it's manually triggered by something out of our control and I have no idea what the other trigger conditions may be.

[2022-06-12 02:41] #1246 closed, assigned to nobody

[2022-06-12 02:41] captaincobbs commented on #1243
Nerf the science population collection reward

[2022-06-12 02:44] Provolonage commented on #1243
why do you buff the pop slot on anom to 2, the reason why its bad is because unless you get really lucky with anoms it isn't worth going, but I do think it could use a small nerf, also while I'm here is there anyway to make center of light and life count pop types on empire so you dont have to spread minors that don't offer unfallen much benefit, id be fine with nerfing the sciecne per pop to 20 f

[2022-06-12 23:14] captaincobbs opened #1248 "Rework Population Political Affinities to more closely match their lore"
Will post a list here once we've worked one out

[2022-06-13 03:17] NoProblemWithThisAcc opened #1249 "UC Beacon for Special Node immunity"
This expected behavior
![image](https://user-images.githubusercontent.com/77858116/173273146-16823b7f-1a0c-4939-ba5d-54c9175f53bb.png)
can result in UC being auto-detected when neutron stars are next to your homeworld and the only wormhole out of the constellation such as:
![image](https://user-images.githubusercontent.com/77858116/173273256-915dbf21-c6a3-4ef4-be89-103e25c6aa40.png)
Issue made upo

[2022-06-13 12:32] Tat011 commented on #1248
There are some things we agreed which is
amoeba
ecologist, militarist to pacifist, religious to scientist
Remnant
pacifist, pacifist to industrialist, anti militarist
Horatio
Ecologist, pacifist to religious, ant scientist
Epystis
ecologist, ecologist to militarist and industrialist to pacifist

Pops we have yet to go through but should
Srheyedin and Mezari
Gnashast and Tikanan
Sowers
Harmony

[2022-06-13 22:03] Provolonage opened #1251 "Upgraded attackers coming out of hanger with unupgraded mp cap"
Upgraded attackers were coming out of hanger with only base mp cap filled and would need to sit on a system for an extra turn to get the remains 50%.

[2022-06-15 17:29] Tat011 opened #1254 "A lot of pops don't have the effects they claim they do"
Works fine:
Sowers, Tikannan, UC, Unfallen, Vaulters, Vodyani, Eyeder, Riftborn, Nakalim, Lumeris, Amblyr, Amoeba, Barsyxo, Bereaved, Xirmisala, Deuyivans, Epistis, Foundlings, Haroshems, Hissho, Horatio, Illo, Kalgeros, Kalmat, Mavros, Niris

Doesnt work:
Pilgrims has no anomaly boost
Bhagaba doesnt get more baseline influence when boosted
Galvrans makes +3 science on deposit instead of the adver

[2022-06-16 22:28] Arpharnator opened #1256 "nerf lum black tax act"
20%
10 flat

[2022-06-17 04:07] wakystuf commented on #1254
Thanks for finding all of these. To clarify, for the ones that don't work, does the pop lie and claim that it will provide a certain bonus, and then the calculation does not match the GUI? Or are they simply not doubling certain things when boosted?

[2022-06-17 13:44] Tat011 commented on #1254
some pops dont give the ammount they say they do whithout boosts like all the +1 indi races actually giving +2 instead
For boosts the gui always says that it doubles the effect but it doesnt always work

[2022-06-17 17:23] wakystuf commented on #1115
I will try to go through and reduce the Plating values for many modules. I need to think about how to do the math to balance carefully vs shielding modules

[2022-06-17 17:24] wakystuf commented on #1115
Update: will instead increase penetration % of missiles

[2022-06-17 18:26] wakystuf commented on #1249
Closed due to inactivity

[2022-06-17 18:26] #1249 closed, assigned to nobody

[2022-06-17 18:27] #141 closed

[2022-06-17 18:27] #278 closed

[2022-06-17 18:27] #932 closed

[2022-06-17 18:27] #992 closed

[2022-06-17 18:27] #1103 closed, assigned to nobody

[2022-06-17 18:29] #1141 closed, assigned to nobody

[2022-06-17 18:29] #1151 closed, assigned to nobody

[2022-06-17 18:30] wakystuf commented on #1205
Closing this one since I think we concluded that murdering minors isn't actually optimal, rendering this unnecessary

[2022-06-17 18:31] #1153 closed, assigned to nobody

[2022-06-17 18:31] #1201 closed, assigned to nobody

[2022-06-17 18:31] #1202 closed, assigned to nobody

[2022-06-17 18:31] #1217 closed, assigned to nobody

[2022-06-17 18:31] #1220 closed, assigned to nobody

[2022-06-17 18:31] #1231 closed, assigned to nobody

[2022-06-17 18:31] #1248 closed, assigned to nobody

[2022-06-17 18:32] wakystuf commented on #1222
What is the latest on this item? Should I close it or leave it open?

[2022-06-17 18:34] stygmaskyzoo commented on #1222
im closing it, i know what has to be done and i'll keep track of this somewhere else

[2022-06-17 18:34] #1222 closed, assigned to stygmaskyzoo

[2022-06-17 18:34] wakystuf commented on #1198
Looks like this one has been sitting for a while. I'll add it to my list

[2022-06-17 18:35] wakystuf commented on #1242
Yeah that seems fine. I'll assign it to you for now, but I'll close this Issue if it sits for a week without any updates

[2022-06-17 18:36] wakystuf commented on #1243
Can someone explain using complete sentences what exactly is being proposed here? I strongly suspect that Cobbs' comment about the science reward is separate from what Arphar originally meant

[2022-06-17 18:37] wakystuf commented on #1193
Is this portion still active? I will close if nobody claims it (IE, assigns themself) in a couple of days

[2022-06-17 18:41] Arpharnator commented on #1243
basically it's to weight this particular unfallen quest reward.
See if it needs nerf or nah

[2022-06-17 18:48] wakystuf commented on #1243
Oh, I see. Yeah the science one probably is a little bit overtuned right now; I see what Cobbs was saying. I'll add this one to my list

[2022-06-17 19:16] Provolonage commented on #1205
uh no ive been waiting patiently for this, waky pls

[2022-06-17 19:45] wakystuf commented on #1205
Haha, OK, fine.

[2022-06-17 23:04] FluffiestPrincess commented on #1193
It is; I can try to do it but no promises.

[2022-06-17 23:05] Arpharnator commented on #1193
I think provo and I needed to discuss anoms effects

[2022-06-17 23:05] Arpharnator commented on #1193
well not sure if that's thrown out of the window now, because I don't really believe there was a need to aggravate some anoms effects, and provolonage might feel the same way

[2022-06-17 23:50] Tat011 opened #1258 "Make nakalim replace science on pops like hissho replaces happiness"
Pretty self explanatory, cobbs was working on this aparently but you know. i have the alternative traits coded (as in what is science being replaced by in any specific case) but thats about it

[2022-06-18 03:40] wakystuf commented on #1258
I'm fine with this idea, but don't plan to work on it. I'll leave it open for a week and see if anyone signs up. If not, then I will close it.

[2022-06-18 03:47] wakystuf commented on #1243
I'm going to start small on this one and only mess with the flat portion, cutting from 10 to 5 (but leaving the 1% alone). If it's still overtuned then we can revisit

[2022-06-18 04:24] wakystuf commented on #1251
I believe this is a vanilla bug with specifically the UE attacker, but let me know if it crops up again and I can take another look. I didn't see any other hulls that should have this issue

[2022-06-18 04:31] wakystuf commented on #1198
Complete. Would be very helpful if someone could please test the Vaulter effect

[2022-06-18 05:22] wakystuf commented on #1254
Yeah this is actually not just one bug, unfortunately; I don't think there's any real unifying theme, which means I have to fix them one by one.

Fixed:
* Pilgrims
* Bhagaba, Mezari and Sheredyn (all the same bug)
* Z'Vali
* Remnant

Bugs that I cannot replicate (IE, these work fine in my testing):
* Pulsos
* Sophons
* Imperials
* Galvrans
* Gnashast
* Kal'Tik'Ma
* Yuusho (though there is a weird

[2022-06-18 17:10] NoProblemWithThisAcc commented on #737
Since the hero unlocks is available with a seperate sandbox mod, the only thing that wasn't completed is the tech stuff: "Ship Hulls unlocks" and "selection of Unique Technologies". My guess is only someone who's itching to code a lot (like fluffy) could make this happen. And although this would be really, really cool, I'm not volunteering anyone.

[2022-06-18 18:10] Arpharnator commented on #737
idk smells like cancer, and there are still things left to do first
and if someone's keyboard gets itchy there are a lot of issues to reopen first

[2022-06-21 03:23] wakystuf opened #1263 "Changes to Minors"
* Fix ESG bug from recent AI changes whereby the minors provide insane yields (particularly MP), which would otherwise mess up PvP games
* Make minors no longer immune to blockades
* Adjust DoW formula to mirror the casus belli style of the diplo rework

[2022-06-21 03:24] wakystuf opened #1264 "Fix ESG bug where Galaxy Gen code will destroy turn 1 outposts"

[2022-06-21 03:24] wakystuf commented on #1264
Internal bug to 1.6, so no documentation needed

[2022-06-21 03:28] wakystuf opened #1266 "Buff Propaganda More"
Probably also doesn't require documentation, since nobody else will understand the variable I'm buffing anyway, and the initial rework was internal to 1.6

[2022-06-21 13:01] Arpharnator opened #1268 "Balance Pass on hero experience multiplier vs experience per turn"
I found some oddity while checking the code, some effects used experience per turn while others used experience multiplier.
I decided to change any percent increase of experience multiplier to be experience per turn.
This would also explain vodyani heroes levelling up 2 to 3 times faster than your average hero, and the endless hero being barely affected by it's malus to experience

[2022-06-21 14:32] wakystuf commented on #1268
Experience per turn is a flat # of XP; Experience multiplier is the % effect. Those are already working properly, I believe. In this version Vault of Governance would give 1 XP per turn, which is worthless

[2022-06-21 14:53] wakystuf commented on #1268
Here's an example where you can see both effects (the T2 religious law):
`<Modifier TargetProperty="ExperienceMultiplier" Operation="Addition" Value="0.25" Path="../ClassEmpire//ClassHero"/>
<Modifier TargetProperty="ExperiencePerTurn" Operation="Addition" Value="4" Path="../ClassEmpire//ClassHero"/> `

[2022-06-21 14:53] Arpharnator commented on #1268
No, in this version Vault of Governance would give 100% extra experience per turn.
If you check the code you will find that there are other rewards that increase the experience per turn reward by a percentage as well.
Experience multiplier include everything, that means from battles and constructions as well.
that's why there were some very high leader level sometimes, when the tooltip shows the s

[2022-06-21 14:54] Arpharnator commented on #1268
If you check other rewarsd you will find Experience per turn being multiplied by the Percent operation

[2022-06-21 14:55] Arpharnator commented on #1268
And we should change these to be only one type.
Having two effects that change hero xp radically with the same tooltip is certainly suspicious.

[2022-06-21 15:06] wakystuf commented on #1268
ExperiencePerTurn is a flat variable, so if VoG is adding 1 of that, then it is a flat +1 XP

Yes, experience multiplier affects everything; that is the whole point. The small amounts of XP provided from the flat "XP per turn" effects are indeed affected by experience multiplier, though that doesn't matter much.

Where are you seeing the tooltip showing the same effect? I'm on my laptop now, but t

[2022-06-21 15:18] Arpharnator commented on #1268
My bad, it looks like I forgot to change the bonus to be Percent for the stuff I changed.

My point about Experience Multiplier is that only certain specific building/improvements grant it, while others are Experience Per Turn.

What I'm saying when I say that both tooltip show the same effect, is that it's not clear whether a bonus is Experience Multiplier or Experience Per Turn.
Both effects say

[2022-06-21 15:23] Arpharnator commented on #1268
For example, in the case of admit and improve, the to
![image](https://user-images.githubusercontent.com/49691625/174836742-81bf2828-e761-4f07-9653-f85b080b15d0.png)
![image](https://user-images.githubusercontent.com/49691625/174836954-62b09492-13b4-4fee-9e7d-de7c2eecda3f.png)

the Sheredyn bonus has this code :
TargetProperty="ExperiencePerTurn" Operation="Addition" Value="5" Path="ClassEmpire//C

[2022-06-21 15:26] Arpharnator commented on #1268
Actually it looks like I can't read.

In that case we should instead review the effects and see if they make sense and are balanced.
I believe not many players are aware of what it means to have Experience Per Turn % and have Experience on Heroes

[2022-06-21 15:38] wakystuf commented on #1268
I think for the most part they are fine; I've looked at them before. Are there any specific ones that you are concerned are not balanced?

[2022-06-21 16:00] Arpharnator commented on #1268
well considering the meagers amount Experience per Turn gives, we should change all of them to be Experience Multipliers or Or vice-versa.

[2022-06-21 16:31] wakystuf commented on #1268
Like which ones? I think having some of both can be fine, since there is a fixed and a scaling portion. Like an effect that gives flat food and % food at the same time, it's fine to combine them. If there are specific ones that we need to look at, then we can, but I wouldn't eliminate all flat XP effects.

[2022-06-21 17:29] Arpharnator commented on #1268
I'll have to check for which ones to change.

I'm going to reopen this and change the title

[2022-06-21 17:34] wakystuf commented on #1268
OK, that's fine. I think most of them are fine as-is, but we can certainly discuss any that you think are a problem.

[2022-06-21 18:27] Arpharnator commented on #1268
I've looked into the passive xp reward, and it's definitely not very high.
The formula is :
(1.15 ^ (SystemLevel - 1)) * (Pop / 2)

for example :
SD = 1
Pop = 10
-> 5 passive xp

SD = 2
Pop = 10
-> 5.75 passive xp

SD = 3
Pop = 10
-> 6.61 passive xp

SD = 4
Pop = 10
-> 7.6 passive xp

[2022-06-21 18:33] wakystuf commented on #1268
Yes though remember that governor XP comes primarily from completed constructions

[2022-06-21 18:34] Arpharnator commented on #1268
I've put this there to illustrate that Experience Per Turn is really not a good bonus

[2022-06-21 18:35] Arpharnator commented on #1268
note that these numbers are for normal speed

[2022-06-21 19:13] wakystuf commented on #1268
Yeah Experience Per Turn is a small flat effect, that's it. Aside from that Sheredyn bonus (which we can adjust to be ExperienceMultiplier), is there anything that gives purely Experience Per Turn?

[2022-06-21 19:13] Arpharnator commented on #1268
![image](https://user-images.githubusercontent.com/49691625/174879708-2b679e2e-4ed4-409d-881e-22201fd7f6f1.png)
i lied

[2022-06-21 19:14] Arpharnator commented on #1268
turns out a combination of Experience Multiplier and Experience Per Turn can yield high experience per turn

note that this is for fast speed, normal would be halved

[2022-06-21 19:16] wakystuf commented on #1268
Well yes but your previous point is still correct: the value of the bonus here is from the 2.5x Multiplier; the flat portion of +4 Experience Per Turn is still not very useful.

[2022-06-21 19:19] Arpharnator commented on #1268
The current formula is :
(1 + 33.4 + 4 + 4) * 2.5 * 1.55 * 2 (gamespeed)

[2022-06-21 20:09] Arpharnator opened #1271 "Increase science victory requirements"
4 techs to unlock the endless tech stage, instead of the current 3.

[2022-06-21 20:16] Provolonage commented on #1271
nah if you nerf science convo it will slow it down alot + eco victory is already faster so this seems unnecessary

[2022-06-21 20:19] Arpharnator commented on #1271
the convo is only getting nerfed by 9%, which isn't that much
and about eco victory then i guess it needs to be increased again?

[2022-06-21 20:20] Provolonage commented on #1271
nah eco victory is really high already the issue is science victory really isnt that fast its jsut everyone focuses science super hard basically every turn of the game, nerf convos then lets wait, also will the UI in the tech tree update properly if you change the reqs?

[2022-06-21 20:22] Arpharnator commented on #1271
I think it can be a good idea to wait to see what the result from the convo nerf is.

As for the UI it should update automatically if i tell it it needs 1 extra tech to open the stage

[2022-06-21 20:25] Arpharnator opened #1272 "Nerf Ind to science and dust convos"
to 33%and 66%, respectively for T1 and T2

[2022-06-21 20:59] wakystuf commented on #1271
Yeah the GUI adjusted properly in the past when I made the T4 eco quadrant require an extra to unlock. I haven't tested with victory techs but I assume it would be the same.

I would probably wait to see how the conversion impacts it and then go from there; for most factions, nerfing from 75% to 66% will be pretty significant.

One other thought is that if we do conclude that we still want to slow

[2022-06-21 21:05] Arpharnator commented on #1271
so the nerf is from 75% to 66%, not 100% to 66%.

We could also do that.

[2022-06-22 21:07] Arpharnator opened #1273 "Horatio quest changes"
industr path :
6 systems to level 2
3 ships of 100 defensive power instead of 5
Removed the second fleet

ecologist path :
10000 dust insead of 1000 to spend on the curio

religious :
increased the amount of extra influence to make by 50, so you need 100 extra inf instead of 50
reduced hero level requirement to 8
the 40% Experience per turn reward becomes +40% experience multiplier

[2022-06-22 21:07] Arpharnator opened #1274 "Counselor Skill to 120 Approval"
This allows to use the dictatorship law properly

[2022-06-22 21:08] Arpharnator opened #1275 "Fix max value on senator skills multiplicator for dictatorship and religious law"
This fixes the issues where this law would not work with dictatorship.

[2022-06-22 21:14] wakystuf commented on #1274
Agreed. Is there a PR I should review? I'm going to label as "In progress" instead of "finished" until then

[2022-06-22 21:14] wakystuf commented on #1275
Also agreed

[2022-06-22 22:25] Arpharnator opened #1277 "Increase minor food"
This will make all the ratio players shutup worldwide.

Also increased minor stress slightly to make it so they get the good fleets at the right time

[2022-06-22 22:52] NoProblemWithThisAcc commented on #1272
It's OP because it's useless early on (as well as too powerful late game). Perhaps address both parts of the imbalance? We already have the 'in the queue' mechanic for other things, so -33% industry (which becomes science) and then -66% industry (which becomes science) would force you to still build other things and it would slow down the science gains.

But more importantly it would make it usabl

[2022-06-22 23:33] Arpharnator opened #1278 "Dictatorship experience change"
the 25% Experience per turn now becomes a 25% experience multiplier

[2022-06-22 23:35] Arpharnator opened #1279 "Religious main law Experience change for dictatorship"
Change it from +15% Experience per turn to +15% Experience multipler

[2022-06-22 23:36] Arpharnator opened #1280 "Find the source of the multiple senator bug"
Put your discoveries here (edit this message).

[2022-06-23 03:47] wakystuf commented on #1273
This all seems reasonable to me; I linked it to the relevant PR. Can you also update the quest diagram accordingly for the changelog?

[2022-06-23 03:49] wakystuf commented on #1278
Looks good; I'm linking the PR

[2022-06-23 03:49] wakystuf commented on #1279
This one also looks good in the code and makes sense. I'm linking the PR.

[2022-06-23 03:52] wakystuf commented on #1273
Also don't forget to document the XP change for the religious quest reward

[2022-06-23 03:55] wakystuf commented on #1268
I think this one is now included in the various other XP-related issues, so I am closing for now. Feel free to reopen if there are others we should review.

[2022-06-23 03:55] #1268 closed, assigned to Arpharnator

[2022-06-23 03:56] wakystuf commented on #1275
Am I correct that this is not included in your PR? I'd probably just tweak it quickly so that it's all covered together

[2022-06-23 04:43] Zingybird commented on #1278
May I ask if this can be applied to autocracy or whatever is the similar version of the law changes

[2022-06-23 09:18] Arpharnator commented on #1278
Autocracy doesn't have this bonus to begin with as far as im aware, so no goodies

[2022-06-23 09:19] Arpharnator commented on #1275
I just opened the issue to remember it existed, I believe the PR already ahs been merged

[2022-06-23 09:21] Arpharnator commented on #1273
the +40% Experience per turn becomes +40% Experience Multiplier for the horatio quest reward

[2022-06-23 15:44] Zingybird commented on #1278
Okay all good

[2022-06-28 02:00] wakystuf commented on #1258
Closing due to inactivity. If anyone wants to work on it, then feel free to reopen

[2022-06-30 03:53] wakystuf opened #1281 "Green Fertility Tweak"
Shift from % to Flat, per @Provolonage

@Arpharnator, Thoughts?

[2022-06-30 04:32] wakystuf opened #1282 "Add Horatio-Only Minor Pop Curios"
@Arpharnator  Let me know what you think about this:
* Create a quest in the Horatio main quest that spawns curios near-ish to the Horatio home system
* Curios would be defined as 3 new ones, with a detection visibility of 2, 3 and 4
* Spawn 2 T2s, 3 T3s and 4 T4s (can adjust the numbers as needed)
* The curio droplists would include only minor pops, with different lists for each tier (which would

[2022-06-30 05:00] wakystuf opened #1283 "Other Horatio Tweaks"
* Cut in half collection bonus 3
* Cut in half All Hands Dictum
* Reduce numbers on Cool Collections
* Reduce splice cost to 2, and cap at 10

@Arpharnator Thoughts?

[2022-06-30 08:50] Arpharnator commented on #1281
yes

[2022-06-30 08:55] Arpharnator commented on #1282
I think this can be a good idea
When this gets done a bit of internal testing will be needed to make sure it flows well.

[2022-06-30 08:57] Arpharnator commented on #1283
I agree with everything except for All Hands Dictum which is what is known as hot garbage.
No way im spending 4 inf per pop for 1% ind and science per splice

[2022-06-30 18:18] wakystuf opened #1285 "Building strat cost tweaks"
* Moved antimatter cost from Careful Sweeping to Adaptive Taxation
* Reduced adamantian cost of Farsighted Crops from 10 to 5
* Added small (5) antimatter cost to Punctuated Evolution Foundation

[2022-06-30 18:19] wakystuf opened #1286 "T5 Science Stage Unlock"
* Merged benefits of N-Dimensional Topology into T5 science stage unlock, to bring into line with all other T3-5 stage unlocks
* For Vodyani, moved additional +2 movement bonus to Adaptive Habitats

[2022-06-30 18:25] wakystuf commented on #1283
OK, I'll make it 1.5% instead. It's currently at 2%, so it will need to go down somewhat. The Republic version especially would be OP if we left as-is, since it'd be 30% indy and sci

[2022-07-03 22:23] wakystuf opened #1289 "Partially reduce minor pop growth"

[2022-07-03 22:43] wakystuf commented on #1166
Should be fixed properly now

[2022-07-04 19:27] wakystuf opened #1290 "Make systems actively under siege have their influence bubbles suppressed"

[2022-07-04 23:53] Nilufer14 commented on #1289
Using this as test, partially reduced minor pop growth, is there a percentage. < This is a Test>

[2022-07-05 01:54] wakystuf opened #1291 "Make Seek the Unique start earlier"

[2022-07-05 02:20] wakystuf opened #1293 "Buff generic hero capstone"
From +1 to +2 deposit value

[2022-07-05 02:48] wakystuf commented on #1291
T10 instead of T19 on Normal

[2022-07-05 14:06] wakystuf opened #1294 "Scale civilian ship movement with gamespeed"

[2022-07-05 14:08] wakystuf opened #1295 "Change RB balanced start from Desert to Ash"

[2022-07-06 02:57] wakystuf opened #1297 "Prevent arbitrary score calc from affecting diplo pressure"
Given that score is mostly a silly metric anyway that doesn't account for key faction differences (ex: # of systems)

[2022-07-08 00:22] wakystuf opened #1298 "Look into Vody quest with superweapons disabled"

[2022-07-09 11:27] Arpharnator opened #1300 "Nerf Hellraiser vaulter quest torpedoes"
seems like they escaped the missile halve damage so they have more dps than purple missiles

[2022-07-09 15:35] wakystuf commented on #1300
Good point. Fixed

[2022-07-12 11:08] Arpharnator opened #1303 "Double craver jugg science per depletion module"
from 0.5 to 1, since it sucks in comparison to the science module for a far greater cost.

[2022-07-13 22:18] Arpharnator opened #1305 "Increase economic and technology victory requirements"
+50% endless tech cost
doubled the amount of money needed for economy victory

[2022-07-13 22:18] #1271 closed, assigned to Arpharnator

[2022-07-14 21:53] wakystuf opened #1308 "Review balanced start curios"
Particularly be careful about signals and life forms that can spawn pops
Per suggestion from @Provolonage

[2022-07-16 03:58] wakystuf opened #1309 "Make carriers cost more indy"
Could also increase strat costs, though I'll hold off on that for now

[2022-07-16 03:59] wakystuf opened #1310 "Rework tech formulae to make less rushy"
* Eliminate penalty to overall tech costs for researching additional techs within a tier beyond what is necessary to unlock the next tier
* Increase tech costs overall to on average offset the above change
* Apply premium of 30% to techs rushed using T0 scientist law

[2022-07-16 17:07] wakystuf commented on #1308
I think this should be resolved, but the issue actually was not a loot curio; instead, it was that the anomaly itself was tied to a curio that sometimes generated a pop, which is harder to fix. For the Hissho, I therefore swapped them to a different curio

[2022-07-16 18:33] Provolonage opened #1312 "Hissho Xhiyun Cartel still costs strats"
still has the 10 red 10 orange cost from vanilla

[2022-07-17 00:56] Provolonage commented on #1309
no to both please omg I just made a huge post about how everyone cheats building ships by jsut making hulls and getting 33% off everything, also you might as well delete the ratio carrier if you actually increase it by any real amount

[2022-07-17 03:07] wakystuf commented on #1309
Doesn't increasing the hull cost help alleviate the empty-hull issue that you're describing?

I will point out that you also responded directly to my Discord post about this to say that it sounded good...

[2022-07-17 03:50] Provolonage commented on #1309
ok this is mb for not reading point 4 properly so im sorry, but to clarify I was agreeing to points 1-3, my bad.

[2022-07-17 05:37] wakystuf commented on #1309
Well at least you're honest.

Doesn't increasing carrier hull cost help solve the rushing issue, and not worsen the empty hull/retrofit issue (since the cost increase hits the hull directly)?

[2022-07-17 05:46] wakystuf opened #1313 "Make Infl bubble >0 if besieged"
This way it will prevent MP refills, healing, etc
Suggestion from @Eighth-of-Third

[2022-07-17 05:46] Zingybird commented on #1309
I mean this would make medium hulls and small hulls used more

[2022-07-17 05:52] wakystuf commented on #1312
@Provolonage  Completed

[2022-07-17 13:43] Wingouu opened #1314 "Vodyani Planet Cracker time seems to be broken"
Whenever I use a vodyani planet cracker the base number of turns is 3 turns and when I use the modules to reduce planet cracker charge time it goes down to 1 turn even though it says the minimum is 2 turns. This means that I can just send a planet cracker into a system and crack it when the turn ends. I believe the base number of turns for a planet cracker is supposed to be 5 turns and can be redu

[2022-07-18 02:50] Provolonage opened #1315 "Rb and Vaulter quests still bugged"
Rb quest to build 3 improvements still doesn't work on the home system and vaulters still have to build 3 ship/defense improvements, then sell 1 and then the quest will pop.

[2022-07-18 19:54] wakystuf commented on #1315
OK, this should now be fixed. Looks like the RB one previously was still requiring 9 buildings, but it counts the home system buildings. I tried to make it NOT count the home system buildings and was not successful, so instead I increased the objective to 4 from 3. Overall I think that's a net buff since there are 2 home system buildings; I almost did 5, but then it would be legit unreasonable for

[2022-07-18 20:53] wakystuf commented on #1314
Yeah, I see what you mean with this. Unfortunately, I think there must be something going on that's hard-coded, because the variables I can manipulate are showing a floor of 2 and yet it's letting me use it after only 1. I did some poking around and can't seem to find anywhere in the accessible code that it's moddable

[2022-07-18 20:58] Arpharnator commented on #1314
if im not mistaken it's countund down 1 turn before, while in travel for some reason

[2022-07-18 21:14] wakystuf commented on #1314
I think it's actually a gamespeed scaling problem, since it works fine on Normal. However, the part of the code that regulates this is (I think) locked away someplace that I can't find, so I can't prove it

[2022-07-23 14:59] Wingouu opened #1319 "Citadel System Battery breaks space battles"
When a space battle starts on a system with a system battery it seems to break the game. You can choose your battle strategy but after that it just loads forever and the battle never finishes. I tested it in game and battles worked without the system battery but stopped working when the system battery was built. I'm not sure whether this is a base game issue or an esg 1.6 issue.

[2022-07-23 21:25] wakystuf opened #1321 "UC terraforming not scaling properly with gamespeed"

[2022-07-29 19:11] wakystuf opened #1322 "Hissho quest rework"
![image](https://user-images.githubusercontent.com/79942510/181828465-10104177-cddc-4237-9a20-6fb2e04dd7df.png)

[2022-07-29 19:11] wakystuf opened #1323 "SD cost bugged"
T3 luxes cost 150, but are supposed to cost 125 per the tooltip

[2022-07-29 19:16] wakystuf opened #1324 "Fixing Gamespeed scaling"
Fixed:
-Hero XP bug
-Probe regen and stock
-Minor diplo costs (will keep Fast as-is and adjust the others)
-Law charge time (ex: Trusted Broker, YIMBY)
-Minor stress
-Trade company XP

Maybe fix in the future:
-Colonizer move speed
-Scout move speed

Never fix:
-Military ship movement

[2022-07-29 19:17] wakystuf opened #1325 "Some faction-specific laws are bugged"
Law passage costs and political requirement are using vanilla values for certain faction-specific laws (ex: Hissho, but probably also others)

[2022-07-29 19:19] wakystuf opened #1326 "Hissho Colonial Rights is worthless"
Also has the old strat cost; needs to be fixed to +5 influence per SD with no strat cost
![image](https://user-images.githubusercontent.com/79942510/181829572-a8721404-1bb8-4f14-959a-143150b2ec49.png)

[2022-07-29 20:59] wakystuf commented on #1325
Looks like it was only T3s for Religious and Militarist Hissho, which are now fixed

[2022-07-30 02:15] wakystuf opened #1328 "Horatio quest curio bugged"
Searchable with only 1k dust even though quest requires 10k. It will correctly deduct 10k dust...if you have that much. But it is searchable with less.

Now fixed.

[2022-08-06 17:07] AXEL-M74 opened #1329 "ESG 1.6 - Starting Ships Cannot Explore Curiosities"
Pretty much title.

The issue is only at the start. You need to de-equip and downgrade the ship, removing its modules and then upgrading it with the probe modules again to work.

I have no idea what causes these issues.

Only other mods I run are Black heroes and Grey Behemoths, cosmetic mods, besides ESG 1.6

![Screenshot_1](https://user-images.githubusercontent.com/105115857/183258838-abc17c14-2

[2022-08-06 18:53] wakystuf commented on #1329
What gamespeed is this?

[2022-08-06 18:58] ghost commented on #1329
Here's the settings.

Normal speed.

![Screenshot_1](https://user-images.githubusercontent.com/105115857/183262528-90890c95-2d59-4b40-8146-3dd720d6e823.png)
![Screenshot_2](https://user-images.githubusercontent.com/105115857/183262530-ac813856-9116-4f77-9281-13f43b8e5703.png)
![Screenshot_3](https://user-images.githubusercontent.com/105115857/183262532-104b19e4-38da-4f1c-a1b1-a97f2e442648.png)
![S

[2022-08-06 19:26] wakystuf opened #1330 "Make RB scale properly with Gamespeed (and a few other minor RB tweaks)"
The main changes (complete):
* Make pop constructible build 2 pops on Fast gamespeed
* Double the base pop cost to offset buff from 2x faster throughput on Fast
* Reduce Chassis Optimization to -25% cost, and the hybrid effect to -12.5%
* Scale spaceport capacity with gamespeed (it works for up to 10; I tested)
* MP conversion constructibles should scale with gamespeed

Other random minor changes

[2022-08-06 19:30] wakystuf opened #1331 "Fix New Deal passage cost"
Pointed out by Merm

[2022-08-06 19:32] wakystuf commented on #1322
Update: need to fix a bug with the political event

[2022-08-06 19:33] wakystuf opened #1332 "Outpost/blockade tweaks"
* GuardBlockade should be added in DiplomaticRelationStateTruce, not removed; this will enable blockades during truce
* Make blockades do more food damage (15 per CP up from 5 per CP)
* Remove AI siege damage bonuses from pirates

[2022-08-06 19:34] wakystuf opened #1333 "Forced Peace Tooltip missing"
As reported by Vaaish

[2022-08-06 19:37] wakystuf opened #1334 "SD Indy cost not scaling with gamespeed"

[2022-08-06 19:37] wakystuf opened #1335 "Place cap on minor civ quest to build buildings"
Structured as 3 per system, but should probably be capped at around 15

[2022-08-06 19:39] wakystuf opened #1336 "Pop Collection 3's are wildly variable in quality"
Longer-term issue, but probably should get a balance pass at some point

[2022-08-07 17:37] #1166 closed, assigned to Arpharnator, wakystuf

[2022-08-07 17:38] #1251 closed, assigned to wakystuf

[2022-08-07 17:38] #1242 closed, assigned to Tat011

[2022-08-07 17:38] #1243 closed, assigned to wakystuf

[2022-08-07 17:38] #1236 closed, assigned to Thom293, wakystuf

[2022-08-07 17:38] #1228 closed, assigned to FluffiestPrincess

[2022-08-07 17:38] #1216 closed, assigned to wakystuf

[2022-08-07 17:38] #1205 closed, assigned to wakystuf

[2022-08-07 17:39] #1198 closed, assigned to wakystuf

[2022-08-07 17:39] #1173 closed, assigned to FluffiestPrincess

[2022-08-07 17:39] #1290 closed, assigned to wakystuf

[2022-08-07 17:40] #1291 closed, assigned to wakystuf

[2022-08-07 17:40] #1293 closed, assigned to wakystuf

[2022-08-07 17:40] #1295 closed, assigned to wakystuf

[2022-08-07 17:40] #1297 closed, assigned to wakystuf

[2022-08-07 17:40] #1298 closed, assigned to wakystuf

[2022-08-07 17:40] #1300 closed, assigned to wakystuf

[2022-08-07 17:41] #1264 closed, assigned to wakystuf

[2022-08-07 17:41] #1266 closed, assigned to wakystuf

[2022-08-07 17:41] #1272 closed, assigned to Arpharnator

[2022-08-07 17:41] #1274 closed, assigned to Arpharnator

[2022-08-07 17:41] #1278 closed, assigned to Arpharnator

[2022-08-07 17:41] #1279 closed, assigned to Arpharnator

[2022-08-07 17:41] #1285 closed, assigned to wakystuf

[2022-08-07 17:41] #1286 closed, assigned to wakystuf

[2022-08-07 17:43] #1294 closed, assigned to wakystuf

[2022-08-07 17:44] #1289 closed, assigned to wakystuf

[2022-08-07 17:50] #1313 closed, assigned to wakystuf

[2022-08-07 17:51] #1305 closed, assigned to Arpharnator

[2022-08-07 17:51] #1303 closed, assigned to Arpharnator

[2022-08-07 17:52] #1312 closed, assigned to wakystuf

[2022-08-07 17:52] #1310 closed, assigned to wakystuf

[2022-08-07 17:54] #1309 closed, assigned to wakystuf

[2022-08-07 17:55] #1328 closed, assigned to wakystuf

[2022-08-07 17:55] #1326 closed, assigned to wakystuf

[2022-08-07 17:55] #1325 closed, assigned to wakystuf

[2022-08-07 17:56] #1323 closed, assigned to wakystuf

[2022-08-07 17:56] #1322 closed, assigned to wakystuf

[2022-08-07 17:56] #1319 closed, assigned to wakystuf

[2022-08-07 17:56] #1315 closed, assigned to wakystuf

[2022-08-07 17:56] #1308 closed, assigned to wakystuf

[2022-08-07 17:58] #1335 closed, assigned to wakystuf

[2022-08-07 17:58] #1275 closed, assigned to Arpharnator

[2022-08-07 18:05] #1263 closed, assigned to wakystuf

[2022-08-07 18:05] #1333 closed, assigned to wakystuf

[2022-08-07 18:09] #1332 closed, assigned to wakystuf

[2022-08-07 18:10] #1331 closed, assigned to wakystuf

[2022-08-07 18:11] #1334 closed, assigned to wakystuf

[2022-08-07 18:13] #1321 closed, assigned to wakystuf

[2022-08-07 18:18] #1324 closed, assigned to wakystuf

[2022-08-07 18:27] #1330 closed, assigned to wakystuf

[2022-08-07 18:29] #1281 closed, assigned to wakystuf

[2022-08-07 18:31] #1277 closed, assigned to Arpharnator

[2022-08-07 18:32] #1256 closed, assigned to Arpharnator

[2022-08-07 18:41] Kil10naire commented on #1273
If someone could make the picture like the ones for the other faction quests, that'd be great.

[2022-08-07 18:47] #1282 closed, assigned to wakystuf

[2022-08-07 18:48] #1283 closed, assigned to wakystuf

[2022-08-07 18:55] #1239 closed, assigned to wakystuf

[2022-08-07 18:57] #1254 closed, assigned to wakystuf

[2022-08-07 18:59] #1115 closed, assigned to wakystuf

[2022-08-07 19:03] Kil10naire commented on #1079
a very lengthy discussion that still somehow ended up with me having to find the actual changes on my own

[2022-08-07 19:03] #1079 closed, assigned to nobody

[2022-08-07 19:03] wakystuf commented on #1273
@Arpharnator I think was supposed to do that

[2022-08-07 19:17] Arpharnator commented on #1273
one day

[2022-08-07 19:17] wakystuf commented on #1329
I see what the problem is here; should now be fixed with a change I just coded. Once I update Steam in a few days, let me know if this happens again.

[2022-08-07 19:17] #1329 closed, assigned to wakystuf

[2022-08-07 19:17] wakystuf commented on #1314
Closing simply because I think this is not fixable

[2022-08-07 19:17] #1314 closed, assigned to nobody

[2022-08-07 20:02] Arpharnator commented on #1273
[Horatio_Quest.xlsx](https://github.com/wakystuf/ESG-Mod/files/9277414/Horatio_Quest.xlsx)

[2022-08-08 11:39] Kil10naire commented on #1273
Hey, funny story, I don't have Excel so I downloaded the file and converted it to a PDF online, but either the original file is messed up in some way or I have incredibly bad techno-vibes because it is completely cursed.

![Horatio quest eco](https://user-images.githubusercontent.com/97924925/183409243-8f671ca1-2975-4732-838f-8117888df010.png)

![horatio quest indy](https://user-images.githubuserc

[2022-08-08 12:16] Arpharnator commented on #1273
how about you get excel

[2022-08-08 12:34] #1273 closed, assigned to Arpharnator

[2022-08-11 14:58] haydensj opened #1338 "Predators trait does nothing"
When creating a custom faction with the Predators trait, I expected to be able to see enemy homeworlds when I started the game. Instead, I saw no noticable effect.

[2022-08-11 15:28] Arpharnator commented on #1338
i guess the solution is to remove the trait

[2022-08-11 15:57] Tat011 opened #1339 "Make starless system not insta bad"
Make it possible for it to have 4 and 5 planets and make the chances of planet ammount match other star types instead of being 75%+ chance of 1 planet
allow ice, barren, ash and lava to spawn on them cuz it makes sense and increases variety
Really im just tired of skipping every starless i see  (unless they have a minor or something) cuz amplitude decided to make them trash for no reason.
i even a

[2022-08-12 03:35] wakystuf opened #1340 "Forced Science Agreement GUI issue"
![image](https://user-images.githubusercontent.com/79942510/184280460-7e3e504c-e619-4ef4-a567-0575e7fca265.png)

[2022-08-12 05:15] NoProblemWithThisAcc commented on #1336
I'd be happy to run a comparison (discord PM me) for this and any other traits one, against one another, as if each noncustom is not an island unto itself. Note that this requires talking about evil foreign custom logic that makes certain go up in a ball of smoke.

[2022-08-12 18:41] Eighth-of-Third commented on #1282
I've been informed that this part needs some better support for custom factions. If a custom gene hunter doesn't start with Pulsos and Bhagaba, they still won't spawn in in the quest curios.

[2022-08-12 19:13] Eighth-of-Third opened #1341 "Horatio-only minor pop curio quest will not spawn Pulsos/Bhagaba for custom Gene Hunters"
https://github.com/wakystuf/ESG-Mod/issues/1282#issuecomment-1213411236

A custom Gene Hunters faction that doesn't take Pulsos and Bhagaba at creation won't get them from the new minor pop curio quest. Custom Gene Hunter factions shouldn't have restrictions on the minors that can spawn in this quest, or if that isn't possible, the traits to start with Pulsos and Bhagaba should have "Recommended f

[2022-08-12 19:14] wakystuf commented on #1282
That would be a pretty significant pain to code; I think we'd have to make new ones just for the custom.

Also, it's not like said custom faction is meaningfully worse off anyway; they'll simply get Amblyr, Pilgrims or whatever instead of Pulsos and the overall power should be the same.

[2022-08-13 13:42] AXEL-M74 opened #1342 "Visual Bug - Planets don't change visual size when terraformed"
Title.

Here are two screenshots. As you can see, both planets have been terraformed to huge, but they keep their older visual.
![Screenshot_1](https://user-images.githubusercontent.com/105115857/184496787-1ecfd191-6c2b-4508-a173-93c5ce729ead.png)
![Screenshot_2](https://user-images.githubusercontent.com/105115857/184496789-cd3f4343-1a0b-4c91-a979-ce40a4824b29.png)

[2022-08-13 13:55] AXEL-M74 opened #1343 "Possible Bug - Population Cloning Not Working Properly?"
So basically, I have 8.2k food in excess and a clone required 700, I have a bit of trouble understanding why I can't clone more?
![Screenshot_3](https://user-images.githubusercontent.com/105115857/184497354-cd2cce3b-e704-4926-81ea-0e683838f24f.png)

[2022-08-13 15:17] wakystuf commented on #1343
How much excess food does it say you have?

[2022-08-13 15:18] wakystuf commented on #1342
I don't think this is fixable, particularly without Cobbs

[2022-08-13 15:18] #1342 closed, assigned to nobody

[2022-08-13 15:48] Arpharnator commented on #1343
the stock is too low, it's now recovering the stock that has been spent in excess.
if you check the stock you will see that it is negative and that you don't have enough food to make the stock go higher than 1 pop more next turn .

[2022-08-13 15:48] #1343 closed, assigned to nobody

[2022-08-13 19:48] Tat011 opened #1344 "Make Stay ahead raze rather than delete"
To prevent an attacker from being screwed over even though they won Stay ahead should raze your systems rather than delete them outright so attacker can take them

[2022-08-15 00:29] Eighth-of-Third opened #1346 "If you can't see the UC nexus when they Stay Ahead Law suicide, you cannot detect the uncolonized system later."
![20220813183148_1](https://user-images.githubusercontent.com/4412171/184560708-1a4b43f1-a396-4ce4-bd92-0ec809fa1424.jpg)
![20220813183200_1](https://user-images.githubusercontent.com/4412171/184560710-f4be5a58-9d54-42b3-9c10-c4a2e30a100a.jpg)

[2022-08-15 00:31] Eighth-of-Third opened #1347 "Horatio carrier has a small weapon slot that counts as a large"
![20220814055804_1](https://user-images.githubusercontent.com/4412171/184560787-82c85754-bc2f-4514-8f4e-3e84e62aefd9.jpg)
![20220814055810_1](https://user-images.githubusercontent.com/4412171/184560790-d180d0a9-01fd-452a-b157-626581cbd6bd.jpg)

[2022-08-15 00:40] wakystuf commented on #1347
@Arpharnator Horatio Prime, do you know anything about this?

[2022-08-15 00:41] wakystuf commented on #1339
This seems mostly fine if you want to implement it as long as nobody objects

[2022-08-15 00:42] wakystuf commented on #1338
I have no idea how to fix this, so I'm going to close unless anyone else has ideas

[2022-08-15 00:44] wakystuf opened #1348 "Tiny GUI bugfixes"
* Prompt Pioneering should display as green/food-related in the GUI
* Lumeris indy quest reward should display as the buyout subtype in the GUI

[2022-08-15 00:45] wakystuf opened #1349 "Tweaks to exploration trait"
* Faction traits for +probes are not getting scaled with gamespeed along with the other probe changes
* Also added small amount of Vision (+1/2) so that the trait is more similar to a very poor-quality probe

[2022-08-15 00:47] wakystuf opened #1350 "More Outpost fixes"
* Adjusted calculation priority of MP stealing growth so that the + and - parts stack in the same way (IE, cancel out if you have both)
* Tweaked Lumeris growth to target the correct variable so that it stacks with the dust one, like all other food boosts
* Made Lumeris outposts flat 300 dust, so that they are still FAR more expensive than most factions' colonization, but no longer become crazy ex

[2022-08-15 00:49] wakystuf opened #1351 "Fix Lumeris inflation constructible cost"
It never got cube-rooted with the other inflation changes, even though its effect is only ^0.33 as impactful as it formerly was

[2022-08-15 01:46] wakystuf opened #1353 "White Market tweak"
Rework Lumeris unique building to be per trade route instead of per friendly faction

[2022-08-15 01:50] wakystuf opened #1354 "RB Quest Tweak"
Goal to pass an ecologist law is probably bad. Maybe replace with "build 10 food buildings" instead

[2022-08-15 02:54] wakystuf commented on #1346
I can't test this by myself; does anyone else want to give it a shot and let me know if it works?

[2022-08-15 03:01] #1338 closed, assigned to nobody

[2022-08-15 03:01] #1341 closed, assigned to nobody

[2022-08-15 03:02] wakystuf commented on #1344
Merged into #1346

[2022-08-15 03:02] #1344 closed, assigned to nobody

[2022-08-15 03:06] #1340 closed, assigned to wakystuf

[2022-08-15 03:28] wakystuf commented on #1347
Years later we're still finding vanilla bugs

[2022-08-15 05:53] Provolonage commented on #1282
Yeah I agree with Waky, this isn't really an issue we could just add Pulsos and Bhagaba to the pool anyway since I think ratio gets too many unique pop types anyway currently and can't effectively splice them all without trolling, the chances of getting a Pulsos or Bhagba anyway are far less then just getting a duplicate of a pop you jsut got from the quest curio pool anyway, I got really lucky an

[2022-08-15 05:56] Provolonage commented on #1347
Does it have the multipliers for damage and cost or no?

[2022-08-15 06:05] Provolonage commented on #1350
Please see my other post before you ruin the game with this change.

[2022-08-15 06:15] Provolonage commented on #1330
how does the ui work for 10 pop spaceports?

[2022-08-15 06:17] Provolonage commented on #1328
uh im pretty sure i talked you and and arphar about this before i went on vacation and we all agreed to keep it at 1k since 10k is a horrible idea or maybe im trying to gaslight you.

[2022-08-15 06:18] Provolonage commented on #1324
please dont tell me we scaled probe gen speed with game speed, please tell me my browser is busted and the date is supposed to say 4/1/22

[2022-08-15 10:27] Arpharnator commented on #1347
yes i do know about it watchu gonna do
also the left heavy mount costs half as much to put a gun on

[2022-08-15 10:28] Arpharnator commented on #1353
seems good idea

[2022-08-15 14:26] wakystuf commented on #1324
That happened a couple of weeks ago I think; generally it seemed like everyone liked it. It fixes a lot of other problems too

[2022-08-15 14:27] wakystuf commented on #1328
I'm fine with reducing the number, as long as we do it in both. All I did was fix a straight up bug where the quest displays inaccurate information about what is required.

@Arpharnator can you and Provo figure out the right number and then we can adjust both parts?

[2022-08-15 14:27] wakystuf commented on #1330
It adds a second row below. That one is already live in Steam so you can see

[2022-08-15 15:41] #1353 closed, assigned to wakystuf

[2022-08-15 15:44] #1347 closed, assigned to wakystuf

[2022-08-15 15:48] #1348 closed, assigned to wakystuf

[2022-08-15 15:51] #1349 closed, assigned to wakystuf

[2022-08-15 15:58] #1351 closed, assigned to wakystuf

[2022-08-15 16:59] wakystuf opened #1355 "More Gamespeed Scaling"
* Law enactment doesn't scale at all currently
* Initial resource endowments (dust and infl) also don't scale, but the Fast amounts are fine. I'll leave those alone and rebalance the other gamespeeds accordingly

[2022-08-15 17:27] wakystuf commented on #1354
Update: the code requires it to be new buildings, so I made it only 8 instead

[2022-08-15 21:05] wakystuf commented on #868
@FluffiestPrincess Is this still active?

[2022-08-15 22:22] Kil10naire commented on #1355
Is the Law Enactment cost one of the changes that is going to stay the same on Fast, but getting rebalanced for other speeds? Or did that one get changed for Fast as well?

[2022-08-15 22:25] Kil10naire commented on #1354
I assume you would want the quest picture to be updated as well?

[2022-08-15 22:33] wakystuf commented on #1355
No, law enactment got changed (lowered) for Fast. Initial resources are the same as before on Fast, but 2x on Normal, 3x on Slow and 4x on Endless

[2022-08-15 22:34] Kil10naire commented on #1355
Got it.

[2022-08-15 22:36] wakystuf commented on #1354
Good point

![image](https://user-images.githubusercontent.com/79942510/184732513-80b881c6-f497-4df4-aa1b-c52b55e53fca.png)

[2022-08-15 22:43] #1355 closed, assigned to wakystuf

[2022-08-15 22:46] #1354 closed, assigned to wakystuf

[2022-08-17 05:36] wakystuf opened #1356 "Sophon quest tweaks"
![image](https://user-images.githubusercontent.com/79942510/185042550-201925be-ffa5-48ec-873a-dc94bcbe8103.png)

[2022-08-17 05:36] wakystuf commented on #1356
#1345 is the PR, but I'm capped on issues linked

[2022-08-17 18:36] wakystuf opened #1357 "Trade GUI Fixes"
* Fixed the bug where Trade dust shows up as just an empty space in the empire dust generation breakdown
* Fixed the similar bug in Lumeris collection III where the influence doesn't show up at all

[2022-08-17 18:36] wakystuf commented on #1357
Linked to #1345 since I'm capped on Issues linked

[2022-08-17 18:38] wakystuf commented on #1356
Updates, also fixed 3 vanilla bugs:
* The scientist chapter 4 objective to research 5 science techs no longer counts techs from all empires
* Illumination and Radiance will no longer start out with no ownership
* Illumination now starts with a colony base

[2022-08-17 21:41] Kil10naire commented on #1356
Did you end up swapping the Empire Tech Cost Reduction to Economy Tech Cost Reduction from the pacifist line's final step? If so the picture is going to need to be updated, unfortunately.

[2022-08-17 21:47] #1357 closed, assigned to wakystuf

[2022-08-17 21:48] Kil10naire commented on #1350
There seems to be contention regarding this Issue, so I feel the need to ask "What, if anything, ended up being changed?"

[2022-08-17 21:54] #1339 closed, assigned to Tat011

[2022-08-17 21:56] wakystuf commented on #1356
Not yet, since fixing the Illumination bug took vastly longer than I'd expected. I'll probably do that as a separate issue in a future update

[2022-08-17 21:58] wakystuf commented on #1350
I think only the 3rd bullet was controversial, so for that one I ended up making Lumeris col cost the same as before, but a) capped at 600 dust and b) scaled with gamespeed

[2022-08-17 22:19] Kil10naire commented on #1356
Alright, no worries.

[2022-08-17 22:19] #1356 closed, assigned to wakystuf

[2022-08-17 22:28] Kil10naire commented on #1350
Rojer.

[2022-08-17 22:28] #1350 closed, assigned to wakystuf

[2022-08-17 23:58] wakystuf opened #1359 "More gamespeed scaling for Trade"
* Cost of freighters should scale with gamespeed (but does not in vanilla)
* Dust threshold required to open a new tradeco should scale (but does not in vanilla)

[2022-08-18 16:04] #1359 closed, assigned to wakystuf

[2022-08-19 14:45] Tat011 opened #1362 "Some non gameplay related things i'd like to see"
people for some reason ree at the idea of making non gameplay related changes but i guess ill give it a shot (i'm willing to do all these myself btw, i'm not asking anyone else to do anything)
More empire colors since there's a rather small ammount currently which means not much choice
More system and special node names since there are a lot but youll constantly see the same ones over and over
Mor

[2022-08-19 14:54] wakystuf commented on #1362
These all seem fine to me. A few thoughts and questions:
* I think Cobbs worked on the colors at some point, though I'm not certain. Maybe see if he has any suggestions there; if he's willing to help, the guy is a gold mine of info about what has and hasn't worked in the past.
* I'm fine adding more tips, but I think Cobbs did a great job already with the ESG ones. Feel free to post any that you t

[2022-08-19 14:55] Tat011 commented on #1362
minors have a home, in vanilla there is only one in their pool so for example baghabas always spawn with an atoll home, but with my thing they could spawn with fertiles that fit besides just atoll

[2022-08-19 14:56] Arpharnator commented on #1362
colors i agree
names i agree
tips i agree
not sure if it's necessary to start changing weights for stuff to appear, we already have balanced galaxy gen changing things anyways

[2022-08-19 14:56] Arpharnator commented on #1362
also @wakystuf some tips are outdated

[2022-08-19 14:57] Tat011 commented on #1362
also can specific special node types be given specific name pools?
like is that a thing possible to do?

[2022-08-19 14:59] Arpharnator commented on #1362
don't think so
if it's possible you're gonna have to dig i think into the Mapping

[2022-08-19 15:15] Provolonage commented on #1362
I think almost all of these are real tat, minor do have set home planets, they always spawn on the same planet, theres a colors option that changes the colors alot in settings, new node names are fine go for it, the problem with tips is they will be outdated every month but go for it, and outside of hot and cold im p sure every planet can spawn on basically any star, ive gotten gas cold on all hot

[2022-08-19 15:28] Tat011 commented on #1362
Yeah that's what i wanted to change

Doesn't change how many options you have at any given time

I've looked at the code, Gas giants dont care about star temperature (even though they should)

[2022-08-19 15:41] wakystuf commented on #1362
Hmm, interesting. I'm not sure where the minor homes thing lives in the code, but if you've found it and want to give them more variety then go for it.

[2022-08-20 13:25] Arpharnator opened #1364 "Minor pop cloning"
Only for Horatio
Allows to clone a specific minor already in the system the same way you can clone your major pop.

[2022-08-20 13:34] Arpharnator opened #1365 "Scrapping related changes / Minor Empire changes"
Divided stress per turn on hard mode by half. It was proving extremely excessive since the changes to scale minor stress with gamespeed.
Greatly increased budget contribution to ship dust stockpile. This should effectively allow for the minors to properly field their fleets the moment stress allows it.
Made minor fleets significantly stronger later on. Slightly increased stress requirements starti

[2022-08-23 17:42] #1364 closed, assigned to Arpharnator

[2022-08-23 21:36] wakystuf opened #1367 "AI changes"
The AI is now unable to access anomaly enhancement, reduction and moon discovery. The reason for that is that AI would get stuck in a loop trying to build these every turn for no good reason. Disabling and discarding was necessay.
Slightly improved ratio AI bonus on higher difficulties.
Greatly reduced rooting bonus, the AI would otherwise finish rooting in 1 turn with a single root ship.
Removed

[2022-08-24 04:13] wakystuf opened #1369 "Trade Tweaks"

[2022-08-24 04:25] wakystuf commented on #1369
* Tripled base dust yields from population and system level
* Reduced by 60% the benefit from trade route length
* Increased Trade Agreement upkeep from flat 50 to the following formula:
50 + 35 x (# Trade Co's) + (Empire Pop)

OLD formula
System Trade Value = ([System Level] x [System Pop] x 10% + 5) x [System Trade Income Modifier]
Trade Route Value = ([HQ System Trade Value] + [Subsidiary Syste

[2022-08-24 04:27] wakystuf commented on #1369
Note that those formulae aren't perfect, since a) they don't account for the flat dust and science from resource deposits and b) there are some other minor things going on in the code that I can't directly observe and therefore can't precisely quantify.

[2022-08-24 04:37] #1192 closed, assigned to Arpharnator

[2022-08-24 04:37] #1193 closed, assigned to Arpharnator

[2022-08-24 04:42] wakystuf commented on #872
@Arpharnator can you write some simple documentation so that @Kil10naire can put it on the changelog? The discussion above is a) out-of-date/inaccurate and b) hard to follow. For the details of each anomaly, feel free to link the final version of the Google doc.

[2022-08-24 15:53] wakystuf opened #1373 "Fix bug where newly built ships start with only 1 AP even with +AP tech"

[2022-08-24 21:33] wakystuf commented on #1338
![Predators](https://user-images.githubusercontent.com/79942510/186527617-4afaf3af-db61-4754-9c20-c0d9b3725ddd.jpg)

This seems to be working as indended

[2022-08-25 02:10] #1365 closed, assigned to Arpharnator

[2022-08-25 02:23] Kil10naire commented on #1367
praise be no more 1 turn unfallen entwining

[2022-08-25 02:23] #1367 closed, assigned to Arpharnator

[2022-08-25 02:32] Kil10naire commented on #1369
I'll make sure to mention the things brought up in your final comment in the changelog

[2022-08-25 02:32] #1369 closed, assigned to Arpharnator, wakystuf

[2022-08-25 02:33] #1373 closed, assigned to wakystuf

[2022-08-27 03:18] wakystuf opened #1377 "Vanilla bug: Shadow Banking can be added to multiple queues"
As a unique constructible, adding it to one queue should disable it from being added to others, but it does not. Now fixed.
Refers to the Lumeris inflation-reduction constructible

[2022-08-27 03:20] wakystuf opened #1378 "ESG bug: Biofuel Factory disables pop cloning"
Only matters if you have a system that isn't quite full, in which case the biofuel factory won't convert food into indy. Very annoying when you are 2-3 pop short of being full and yet unable to use cloning to fill it up in one turn. Now fixed.

[2022-08-27 03:42] wakystuf commented on #1365
Update: also fixed Arphar's localization from the error message on quests that says "relations must reach 50 points" --> 75 now. Implemented in 5 of the 6 ESG languages, since oddly Brazilian already had 75 instead of 50.

No need to document separately, since we're catching this within the same release

[2022-08-29 17:23] wakystuf commented on #1362
@Tat011 I'm closing this for now given your departure from the server, but feel free to reopen if you resume working on it. I'm generally fine with these changes.

[2022-08-29 17:23] #1362 closed, assigned to Tat011

[2022-08-29 18:14] #1377 closed, assigned to wakystuf

[2022-08-29 18:16] #1378 closed, assigned to wakystuf

[2022-09-02 16:33] wakystuf commented on #1346
I am marking this as finished pending another bug report of this issue

[2022-09-07 03:19] wakystuf opened #1380 "More sophon quest tweaks"
*Make Pacifist chapter spawn fleets every 1 turn, not 3, so that it finishes on the stated schedule
* Make Pacifist final chapter report into econ tech cost reduction

[2022-09-07 03:20] wakystuf opened #1381 "Fix GUI for ecologist law and Horatio quest reward (removing influence)"

[2022-09-09 19:43] wakystuf commented on #1380
![image](https://user-images.githubusercontent.com/79942510/189431082-209269b8-d296-4cac-a4f2-56d7d29f2d92.png)

[2022-09-14 21:48] #1380 closed, assigned to wakystuf

[2022-09-14 21:49] #1346 closed, assigned to wakystuf

[2022-09-14 21:51] #1381 closed, assigned to wakystuf

[2022-10-03 14:12] wakystuf opened #1384 "Game crashes if UC passes T5 Dictatorship law"

[2022-10-18 19:02] wakystuf opened #1385 "The thumbnail for the Enhance Coral Reefs action is just a white square."

[2022-10-28 05:55] captaincobbs commented on #1150
Unaesthetic

[2022-10-28 05:55] #1150 closed, assigned to nobody

[2022-10-28 12:26] captaincobbs commented on #872
Going to change:
Mixed Anomalies renamed to Positive Anomalies, recolored appropriately
Positive Anomalies renamed to Enhanced Anomalies, recolored appropriately
Allow everyone to use anomaly enhancement, modify the effects of some ecologist laws to make them far more beneficial for ecologists.
Re-lore

[2022-10-28 13:15] wakystuf commented on #872
That's all fine with me. What did you have in mind for the other Ecologist laws? I think most of them aside from the T0 are fine (and the T0 is great early, becoming useless only mid/late)

[2022-10-29 08:53] captaincobbs commented on #872
Gave roughing it -10% Anomaly Enhancement/Reduction cost reduction per turn, up to 50% (15% up to 60% for republic). Doubled the cost of anomaly reductions and enhancements.

Moved all anomaly reductions to Simple Anomaly Reductions (T3)
Moved all anomaly enhancements to OCP Investigation (T4)

[2022-10-29 08:53] captaincobbs commented on #872
It just needs to be lored, waiting on frost

[2022-10-29 12:58] wakystuf opened #1387 "Pass laws from 5 parties Deed still requires 6"
Likely needs the quest objective to be adjusted

[2022-10-29 23:33] captaincobbs commented on #1387
QuestDefinitions[Deeds].xml, change $LawObjective on Ln 501 from 5 to 4?

[2022-10-29 23:51] captaincobbs commented on #1384
Which law, I tried passing all the independent laws and had no crash

[2022-10-30 07:51] wakystuf commented on #1387
No, that's just the localization (which is how I also thought it worked originally). The problem is that in lines 532 through 561 it's checking with a Parallel CompletionPolicy="All" that each party's path is satisfied. So I need to rebuild that somehow to be a numerical evaluation (may require adding a variable into ClassSenate or something for the # of parties; I'm not quite sure).

[2022-10-30 09:24] captaincobbs opened #1388 "Law changes"
Roughing It:
- [x] Loses -10% Anomaly Reduction industry cost per turn up to 50% (15% up to 60% for republic)

All Hands Dictum:
- [x] Gains -10% Anomaly Reduction industry cost per turn up to 50% (15% up to 60% for republic)
- [x] Loses +2% Industry & +2% Science per Population Types
- [x] Gains +10% Industry / Dust / Science on System per Terraformed Hot / Temperate / Science planet respectively

[2022-10-30 13:09] Arpharnator commented on #1388
Does this mean that roughing it increases the cost of anomaly enhancement?

also doesn't vodo want to still get the bonus essence

[2022-10-30 20:55] captaincobbs commented on #1387
My best idea then is to make the simdescs "LawPolitics0x" give +1 to an empire property of how many different party's laws are passed, then make an interpreter expression and replace the parallel tag with just something that checks for that expression

[2022-11-02 00:25] Eighth-of-Third opened #1389 "Balanced Galaxy generation shapes can cause a hang when loading a new game when switching from ESG to vanilla"
To reproduce: start a game with ESG and a balanced galaxy shape, exit the game. Disable ESG then start a new game without changing the galaxy size slider. The game will get stuck during the "Launching Game" phase of loading. It'll fix itself once you change the galaxy slider.

May or may not be fixable, given it's caused by unloading the mod, but worth noting as an issue to help people troubleshoo

[2022-11-08 05:43] captaincobbs opened #1390 "Anomaly FX Fix"
Make new descriptors for anomaly effects and keep the base anomaly's simulation descriptor so that effects are still applied.

# Example:
## Currently:
**Unenhanced:**
AnomalyWonder06 (has visuals)

**Enhanced:**
AnomalyWonder06 (no visuals)

## Fix:
**Unenhanced:**
AnomalyWonder06 (no effect, only for visuals)
AnomalyWonder06Effect (effect, no visuals)

**Enhanced:**
AnomalyWonder06 (no effect, o

[2022-11-13 01:36] captaincobbs commented on #1390
Some still may not work, but the overwhelming majority of the ones I tested work. I don't have time to go over 200 anomalies individually to see if all their visual effects still work in combat and stuff though.

[2022-11-26 19:38] FluffiestPrincess opened #1395 "Geothermic Activity and Strange Fossils anomalies do not make sense lore-wise"
Currently, Geothermic Activity is +1 industry/pop, -1 science/pop. As a lore writer, there's no reasonable way I can explain why geothermal activity should reduce a planet's scientific output. Change it to -happiness or -food or something, please.

Strange Fossils is +2 industry/pop, +1 dust/pop. I can probably come up with SOMETHING such as fossils containing nanomaterials that are used in robot

[2022-11-27 11:53] FluffiestPrincess commented on #872
Lore pass underway! #1393

[2022-11-27 19:11] FluffiestPrincess opened #1396 ""Consumptive Caretakers" faction trait makes anomaly reduction/enhancement free, instead of more expensive"

[2022-11-27 20:49] FluffiestPrincess opened #1398 "All Hands Dictum doesn't affect terraforming cost"
All Hands Dictum is an Ecologist party law, P04L04. Definition follows:

[code]

I checked the simulation explorer. The modifier to `ReductionCostReduction` on the law itself is being applied, the modifier to `ReductionModifier` on `ClassEmpire` is not.

[2022-11-27 20:52] FluffiestPrincess commented on #1388
This is bugged. #1398

[2022-11-27 21:33] FluffiestPrincess commented on #1336
I made a [google drive folder](https://drive.google.com/drive/folders/1f3NI2-1rAWdkHjUSDWon8LIfA5eofY0v?usp=sharing) with screenshots of all the existing Pop Collection boni, in case that helps. Unless someone wants to unilaterally decide what they should be changed to, I guess this has to be a discussion.

[2022-11-27 21:38] FluffiestPrincess commented on #1080
What actually is the status of this?

[2022-11-27 23:02] captaincobbs commented on #1398
Oops forgot to make it Composition="Sum"

[2022-11-27 23:06] captaincobbs commented on #1395
The volcanic and seismic activity could be affecting sensors and telescopes

Strange fossils uhhh, I think it'd make more sense to change the industry to influence.

[2022-11-28 17:08] wakystuf commented on #1336
Thanks! Quite helpful. I'll post a spreadsheet with proposed changes probably later this week.

[2022-11-30 04:28] wakystuf commented on #1396
Related, T4 ecologist law was also bugged and I fixed it too

[2022-11-30 04:30] wakystuf commented on #1398
Oh, I just noticed this issue. I spotted the same thing when I was reviewing that last PR and went ahead and included the fix there. Should be all set now

[2022-11-30 04:31] wakystuf commented on #1384
I'm closing this due to a lack of reproducibility

[2022-11-30 04:31] #1384 closed, assigned to wakystuf

[2022-11-30 04:32] #1398 closed, assigned to wakystuf

[2022-11-30 04:36] wakystuf commented on #1395
Geothermic activity I think is playing on the overall theme of hot --> indy, but less science. I've always kind of wondered why a lava planet is incapable of producing any science (surely there are some experiments that can be conducted), but I think that one is fine--the "erratically messing with sensors" concept seems fine.

For Strange Fossils, I'd prefer to avoid influence; probably could shif